
@extends './layout.top'

@section(styles)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/codemirror.css">
    <link rel="stylesheet" href="/css/editor.css">
    <link rel="stylesheet" href="/css/isotope.css">
@endsection

@section(content) 
<div id="innerBody">
    <div id="app"></div>
</div>
@endsection


@section(scripts)
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/codemirror.js"></script>
<script src="https://unpkg.com/react@@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/react-redux@@5.0.7/dist/react-redux.js" crossorigin></script>
<script src="https://unpkg.com/redux@@4.0.0/dist/redux.js" crossorigin></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/dist/editor.js"></script>
@endsection