@extends 'views/layout.top'

@section(styles)

@endsection

@param PLAYER_1_NAME: string
@param PLAYER_2_NAME: string

@section(content)

<div id="innerBody">
    <div id="app"></div>
</div>

@endsection

@section(scripts)
    @-- TODO: If running in prod, serve the production version of the dependencies
    <script src="https://unpkg.com/react@@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/redux@@4.0.0/dist/redux.js" crossorigin></script>
    <script src="https://unpkg.com/react-redux@@5.0.7/dist/react-redux.js" crossorigin></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    @-- inject preloaded values
    <script>
        var PLAYER_1_NAME = "@(PLAYER_1_NAME)";
        var PLAYER_2_NAME = "@(PLAYER_2_NAME)";
    </script>
    <script src="/dist/replay.js"></script>
@endsection
