/** Global styles */
/* This should only define a few top-level styles. Most styles should be defined with components in the react application. */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lazer85';
    src: url('../fonts/lazer85.woff');
}

html {
    background-color: #000;
}

body {
    color:#fff;
    font-family: 'VT323', monospace;
    background-image: url('../images/background.jpg');
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

#innerBody{
    position:relative;
    z-index: 100;
    background-color: black;
    width: 1000px;
    margin:auto;
    padding: 30px;
    opacity: 1;
    background: #272727;
    box-shadow: 20px 20px 80px #ff00974d,-20px -20px 80px #1ba1e2b3, inset 3px 3px 10px #fff6, inset -3px -3px 10px #00000080;
    border-radius: 5px;
}

/** Code-mirror stuff */

.syntax-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJDw4cOCW1/KIAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAHElEQVQI12NggIL/DAz/GdA5/xkY/qPKMDAwAADLZwf5rvm+LQAAAABJRU5ErkJggg==");
    background-position: left bottom;
    background-repeat: repeat-x;
}


/** Styles for the "stars.js" effect */

#hyperloop {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}